@import 'styles/vars';
@import 'styles/mixins';

.abilities {
  inline-size: 100%;
  block-size: auto;
  background-color: $color-dark-4;
  clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
}

.abilities-content {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, auto);
  place-items: center;
  inline-size: 93%;
  block-size: auto;
  padding-block-start: 48px;
  padding-block-end: 80px;
  margin: 0 auto;
}

.abilities__title-section {
  grid-row: 1 / 2;
  inline-size: 100%;
  padding-block: 80px 24px;
  border-block-start: 1px solid $color-primary-opacity;
  color: $color-text-light-1;
  text-align: center;
}

.abilities__paragraph {
  grid-row: 2 / 3;
  max-inline-size: 75ch;
  margin-block-end: 80px;
  color: $color-text-medium-1;
  text-align: center;
}

.abilities__card-container {
  grid-row: 3 / 4;
  margin-block-end: 80px;
}

.abilities__card-more {
  min-block-size: 90px;
  max-block-size: 110px;
  border-radius: 8px;
}
