@import 'styles/vars';
@import 'styles/mixins';

.abilities {
  inline-size: 100%;
  block-size: auto;
  background-color: $color-dark-4;
  clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
}

.abilities-content {
  position: relative;
  inline-size: 93%;
  max-inline-size: 1366px;
  block-size: auto;
  padding-inline-start: 24px;
  padding-block-start: 48px;
  padding-block-end: 80px;
  margin: 0 auto;
  border-inline-start: 2px solid $color-primary-opacity;
}

.abilities-content::after {
  @include timeline-point(
    $top: 86px,
    $left: -10px,
    $background: $color-primary,
    $color-border: $color-primary-opacity
  );
}

.abilities__title-section {
  padding-block: 24px;
  border-block-start: 1px solid $color-secondary;
  color: $color-text-light-1;
}

.abilities__paragraph {
  position: relative;
  display: inline-block;
  inline-size: 100%;
  max-inline-size: 700px;
  padding: 12px;
  margin-block-end: 44px;
  border-radius: 8px;
  color: $color-text-medium-1;
  background-color: rgba($neutral, 0.3);
}

.abilities__paragraph::after {
  @include timeline-point(
    $top: -12px,
    $left: -12px,
    $background: $color-primary-opacity,
    $color-border: $color-dark-4
  );
  inline-size: 18px;
  block-size: 18px;
  border: 4px solid $color-dark-4;
}

.abilities__card-more {
  min-block-size: 90px;
  max-block-size: 110px;
  border-radius: 8px;
}
