@import 'styles/vars';

.project-details-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 24px;
  justify-items: center;
  align-items: start;
  inline-size: 100%;
  max-inline-size: 1366px;
  block-size: auto;
  padding-block: 65px;
}

.project-detais__img {
  grid-row: 1 / 2;
  inline-size: 95%;
  block-size: 30vh;
  background-color: #6170d866;
  animation: opacityEntranceAnimation 1s ease-out;
  filter: drop-shadow(rgba(97, 112, 216, 0.4) 0px 2px 16px);
}

.project-details-info-container {
  grid-row: 2 / 3;
  inline-size: 90%;
}

.project-details__name {
  inline-size: 100%;
  margin-block-end: 16px;
  color: $color-text-light-2;
}

.details__categ-container {
  inline-size: 100%;
}

.project-details__categ {
  display: inline-block;
  padding-inline: 8px;
  margin-right: 8px;
  border-radius: $border-radius-size-2;
  color: $color-text-accent-7;
  line-height: 1.3;
  text-transform: capitalize;
  background-color: $color-text-bg-3;
}

.project-details__level {
  display: inline-block;
  padding-inline: 8px;
  margin-right: 8px;
  border-radius: $border-radius-size-2;
  color: $color-text-accent-6;
  line-height: 1.3;
  text-transform: capitalize;
  background-color: $color-text-bg-4;
}

.project-details__desc {
  margin-block: 16px;
  color: $neutral40;
}

.project-details__subtitle {
  inline-size: 100%;
  margin-block-end: 8px;
}

.project-details__tools-list {
  inline-size: 100%;
  margin-block-end: 40px;
}

.details-tools-list__item {
  display: inline-block;
  list-style: none;
}

.project-details__tool {
  padding: 4px;
}

.project-details__tool::before {
  inline-size: 2px;
  block-size: 4px;
  margin-inline-end: 8px;
  border-radius: 8px;
  color: transparent;
  background-color: #9989eb;
  content: '•';
}

.project-details-btn-container {
  display: flex;
  flex-wrap: wrap;
  inline-size: 100%;
}

.project-details-btn {
  inline-size: 100%;
  text-decoration: none;
}

.project-details__preview-btn {
  inline-size: 100%;
  margin-block-end: 16px;
}

.project-details__code-btn {
  inline-size: 100%;
}

@media (min-width: 480px) {
  .project-detais__img {
    block-size: 50vh;
  }
}

@media (min-width: 768px) {
  .project-details-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    gap: 0;
    justify-items: end;
    inline-size: 100%;
    margin: 44px auto;
  }

  .project-detais__img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    block-size: 100%;
    max-block-size: 550px;
    overflow: hidden;
  }

  .project-details-info-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    inline-size: 100%;
    padding-inline-start: 10%;
  }
}
