@import 'styles/vars';

.hero {
  position: relative;
  display: grid;
  place-items: center;
  inline-size: 100%;
  block-size: auto;
}

.hero__background-video {
  inline-size: 100%;
  block-size: calc(100vh - 65px);
  min-block-size: 600px;
  object-fit: cover;
}

.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  background-image: $color-linear-gradient-1;
  backdrop-filter: blur(3px);
}

.hero__info-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  column-gap: 0;
  row-gap: 20px;
  place-items: center;
  inline-size: 90%;
  block-size: auto;
  max-block-size: 90%;
}

.hero__info-image {
  grid-row: 1 / 2;
  inline-size: 180px;
  block-size: 180px;
  border-radius: $border-radius-circle;
  background-color: transparent;
  object-fit: cover;
}

.hero__text {
  display: flex;
  grid-row: 2 / 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  text-align: center;
}

.hero__title-txt {
  color: $color-text-medium-2;
}

.hero__title {
  margin: 0;
  margin-block-end: 16px;
  line-height: 1.2;
}

.hero__subtitle {
  inline-size: 22ch;
  margin-block-end: 32px;
  border-inline-end: 2px solid $color-text-medium-1;
  font-weight: $font-weight-text1;
  color: $color-text-medium-1;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(22), blink 0.5s infinite step-end alternate;
}

.hero__dowload-btn {
  font-weight: $font-weight-text2;
  color: $color-text-light-1;
  background-color: $color-primary;
}

.hero__dowload-btn:hover {
  background-color: $color-primary-opacity;
  animation: cta 0.3s ease-in-out;
}
