@import 'styles/vars';

.prof-titles {
  inline-size: 100%;
  block-size: auto;
  padding-block: 62px;
}

.prof-titles-content {
  inline-size: 90%;
  margin: 0 auto;
}

.prof-titles__title {
  position: relative;
  inline-size: 100%;
  padding-block: 24px;
  color: $color-text-light-1;
  text-align: center;
}

.prof-titles__title::before {
  position: absolute;
  top: -16px;
  left: calc(50% - 40px);
  inline-size: 80px;
  block-size: 2px;
  background-color: $color-primary;
  content: '';
}
