@import 'styles/vars';

.prof-titles {
  inline-size: 100%;
  block-size: auto;
  padding-block-end: 80px;
}

.prof-titles-content {
  inline-size: 90%;
  margin: 0 auto;
}

.prof-titles__title {
  padding-block-start: 24px;
  margin-block-end: 24px;
  border-block-start: 1px solid $color-primary-opacity;
  color: $color-text-light-1;
}

@media (min-width: 480px) {
  .prof-titles-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 100%));
  }
}

@media (min-width: 768px) {
  .prof-titles-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 30%));
  }
}
