@import 'styles/vars';

.prof-titles {
  inline-size: 100%;
  block-size: auto;
  padding-block: 62px;
}

.prof-titles-content {
  inline-size: 90%;
  margin: 0 auto;
}

.prof-titles__title {
  inline-size: 100%;
  padding-block: 24px;
  color: $color-text-light-1;
  text-align: center;
}
