@import 'styles/vars';

.card-project-container {
  inline-size: 100%;
  block-size: 100%;
  overflow: hidden;
  -webkit-transition: 420ms all;
  transition: 420ms all;
}

.card-project-container:focus {
  border-radius: $border-radius-size-1;
  outline: 3px solid $color-light-1;
}

.card-project {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.card-project__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.project-info-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  text-align: center;
  background: rgba(4, 0, 30, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in 0s;
  visibility: visible;
  backdrop-filter: blur(8px);
}

.project-info-container:hover {
  opacity: 1;
}

.project__name {
  inline-size: 100%;
  margin-block-end: 12px;
  color: $color-text-light-1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.project__tools {
  inline-size: auto;
  max-inline-size: 80%;
  padding: 4px 12px;
  border-radius: 20px;
  color: $color-text-light-1;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
  background-color: $color-accent-2;
  overflow: hidden;
}
