/*__________________________________________*/
// Animations Group
/*__________________________________________*/
@keyframes cta {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes typing {
  from {
    inline-size: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes opacityEntranceAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes entranceScale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes entranceAnimationTop {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes entranceAnimationBottom {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes entranceAnimationRight {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes entranceAnimationLeft {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0);
  }
}

.entrance-animation {
  opacity: 0;
  transition: all 0.5s;
}

.entrance-animation-top {
  animation: entranceAnimationTop 0.5s;
  opacity: 1;
}

.entrance-animation-bottom {
  animation: entranceAnimationBottom 0.5s;
  opacity: 1;
}

.entrance-animation-right {
  animation: entranceAnimationRight 0.5s;
  opacity: 1;
}

.entrance-animation-left {
  animation: entranceAnimationLeft 0.5s;
  opacity: 1;
}
