@import 'styles/vars';
@import 'styles/animations';

/* General */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus-visible {
  border-radius: $border-radius-size-1;
  outline: 2px solid $color-secondary-opacity;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-text;
  font-size: $p1-lg;
  font-weight: $font-weight-text1;
  color: $color-text-light-1;
  line-height: 1.5;
  background-color: $color-dark-1;
}

button {
  color: $color-text-light-1;
}

*::-webkit-scrollbar {
  inline-size: 10px;
}
*::-webkit-scrollbar-track {
  background-color: $color-dark-2;
}
*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $color-primary;
}
