@mixin timeline-point($top, $left, $background, $color-border) {
  position: absolute;
  top: $top;
  left: $left;
  inline-size: 16px;
  block-size: 16px;
  border: 2px solid $color-border;
  border-radius: 50%;
  background-color: $background;
  content: '';
  box-shadow: $color-border 0px 0px 12px 3px;
}
