@import 'styles/vars';

.contact-page {
  inline-size: 100%;
  max-inline-size: 1366px;
  block-size: auto;
  min-block-size: 100vh;
  padding-block-start: 112px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-image: url('images/background_hero2.svg');
}

.contact-page__container-cards {
  inline-size: 90%;
  margin: 0 auto;
  margin-block: 62px;
}
