@import 'styles/vars';

.project-details-container {
  inline-size: 90%;
  block-size: 80%;
  border-radius: 8px;
  overflow: hidden;
}

.project-details-content {
  display: grid;
  grid-template-rows: 40% 60%;
  inline-size: 100%;
  block-size: 100%;
}

.project-detais__img {
  grid-row: 1 / 2;
  inline-size: 100%;
  block-size: 100%;
}

.project-details-info-container {
  display: grid;
  grid-row: 2 / 3;
  place-items: center;
  inline-size: 100%;
  block-size: 100%;
  padding: 16px;
  background-image: $color-linear-gradient-4;
  overflow: hidden;
}

.project-details-info-content {
  inline-size: 100%;
  block-size: auto;
  max-block-size: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
}

.project-details-info-content::-webkit-scrollbar {
  inline-size: 2px;
}
.project-details-info-content::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: $color-dark-2;
}
.project-details-info-content::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: $color-primary;
}

.project-details__name {
  margin-block-end: 8px;
  color: $color-text-light-1;
}

.project-details__tools {
  margin-block-end: 12px;
  border-block-end: 1px solid $color-accent-5;
  color: $color-text-accent-5;
}

.project-details__descr {
  margin-block-end: 20px;
  color: $color-text-medium-1;
}

.project-details-btn-container {
  inline-size: 100%;
  block-size: auto;
}

.project-details__preview-btn {
  margin-inline-end: 12px;
}

@media (min-width: 768px) {
  .project-details-content {
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
  }

  .project-detais__img {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .project-details-info-container {
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 32px;
  }

  .project-details__name {
    margin-block-end: 24px;
  }

  .project-details__tools {
    margin-block-end: 16px;
  }

  .project-details__descr {
    margin-block-end: 32px;
  }
}
