@import 'styles/vars';

.fifth-title {
  font-family: $font-family-titles;
  font-size: $headline5-sm;
  font-weight: $font-weight-title2;
}

@media (min-width: 768px) {
  .fifth-title {
    font-size: $headline5-lg;
  }
}
