@import 'styles/vars';
@import 'styles/mixins';

.projects {
  inline-size: 100%;
  block-size: auto;
}

.projects-content {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, auto);
  inline-size: 90%;
  max-inline-size: 1366px;
  block-size: auto;
  padding-inline-start: 24px;
  padding-block-start: 48px;
  padding-block-end: 80px;
  margin: 0 auto;
  border-inline-start: 1px solid $color-secondary-opacity;
}

.projects-content::after {
  @include timeline-point(
    $top: 86px,
    $left: -12px,
    $background: $color-dark-1,
    $color-border: $color-secondary-opacity
  );
}

.projects__title-section {
  grid-row: 1 / 2;
  padding: 24px 0 60px;
  border-block-start: 1px solid $color-dark-2;
  color: $color-text-light-1;
}

.projects__container-cards {
  margin-block-end: 60px;
}

.projects__see-more-btn {
  grid-row: 3 / 4;
  place-self: center;
  inline-size: 100%;
  max-inline-size: 600px;
}

.projects__see-more-btn:hover {
  animation: cta 0.3s ease-in-out;
}
