@import 'styles/vars';

.fourth-title {
  font-family: $font-family-titles;
  font-size: $headline4-sm;
  font-weight: $font-weight-title2;
}

@media (min-width: 768px) {
  .fourth-title {
    font-size: $headline4-lg;
  }
}
