@import 'styles/vars';

.projects-page {
  inline-size: 100%;
  margin-block-start: 65px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('images/background_hero2.svg');
}

.projects-grid-container {
  inline-size: 90%;
  max-inline-size: 1366px;
  block-size: auto;
  padding-block-start: 40px;
  padding-block-end: 80px;
  margin: 0 auto;
}

.projects-grid__card {
  max-block-size: 240px;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .projects-grid-container {
    padding-block-start: 80px;
  }
}
