@import 'styles/vars';

.projects-page {
  inline-size: 100%;
  max-inline-size: 1366px;
  margin: 0 auto;
  margin-block-start: 65px;
}

.projects-grid-container {
  inline-size: 90%;
  block-size: auto;
  padding-block-start: 40px;
  padding-block-end: 80px;
  margin: 0 auto;
}

.projects-grid__card {
  block-size: 240px;
}

@media (min-width: 768px) {
  .projects-grid-container {
    padding-block-start: 80px;
  }
}
