@import 'styles/vars';

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  block-size: calc(100vh - 60px);
  background-color: $color-dark-1;
}

.hero__background-video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: $color-linear-gradient-1;
}

.hero__info-container {
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  row-gap: 20px;
  column-gap: 0;
  inline-size: 90%;
  max-inline-size: 1280px;
}

.hero__info-image {
  grid-row: 1 / 2;
  inline-size: 200px;
  block-size: 200px;
  border-radius: $border-radius-circle;
  border: 4px solid $color-primary;
  object-fit: cover;
}

.hero__text {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  text-align: center;
}

.hero__title {
  margin-block-end: 4px;
  color: $color-text-light-1;
}

.hero__subtitle {
  overflow: hidden;
  inline-size: 17ch;
  margin-block-end: 32px;
  border-inline-end: 2px solid $color-text-medium-1;
  font-weight: $font-weight-text1;
  color: $color-text-medium-1;
  white-space: nowrap;
  animation: typing 2s steps(24), blink 0.5s infinite step-end alternate;
}

.hero__dowload-btn:hover {
  animation: cta 0.3s ease-in-out;
}

@media (min-width: 480px) {
  .hero__title {
    font-size: $font-size-xxxl;
  }
}

@media (min-width: 768px) {
  .hero__info-container {
    grid-template-columns: auto 1fr;
    row-gap: 0;
    column-gap: 40px;
  }

  .hero__info-image {
    grid-row: none;
    grid-column: 1 / 2;
    inline-size: 240px;
    block-size: 240px;
  }

  .hero__text {
    grid-row: none;
    grid-column: 2 / 3;
    align-items: start;
    text-align: start;
  }

  .hero__title {
    font-size: $font-size-big;
  }
}
