@import 'styles/vars';

.card-more {
  display: grid;
  place-items: center;
  inline-size: 100%;
  block-size: auto;
  padding: 8px;
  border: 1px dashed $color-primary;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  font-size: $font-size-lg;
  color: $color-text-medium-3;
  background-color: rgba($color-secondary, 0.2);
}

.card-more__name {
  inline-size: 100%;
  font-size: inherit;
  color: inherit;
  text-align: center;
}
