@import 'styles/vars';

.certifications {
  inline-size: 100%;
  block-size: auto;
  padding-block-end: 80px;
}

.certifications-content {
  inline-size: 90%;
  margin: 0 auto;
}

.certifications__title {
  inline-size: 100%;
  padding-block: 12px;
  color: $color-text-light-1;
  text-align: center;
}

.certifications__nav-list {
  position: sticky;
  top: 65px;
  left: 0;
  padding-block: 4px;
  border-block-end: 1px solid $color-primary;
  background-color: $color-dark-1;
}
