@import 'styles/vars';
@import 'styles/mixins';

.about {
  inline-size: 100%;
  block-size: auto;
  margin-block-start: 40px;
  background-size: cover;
  background-position: center;
  background-image: $color-linear-gradient-2, url(images/background-2.svg);
}

.about-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  inline-size: 90%;
  max-inline-size: 1366px;
  padding: 24px;
  margin: 0 auto;
  border-inline-start: 1px solid $color-text-medium-1;
}

.about-content::after {
  @include timeline-point(
    $top: 50%,
    $left: -12px,
    $background: #053675,
    $color-border: $color-text-medium-1
  );
  transform: translateY(-10px);
}

.about__img {
  inline-size: 100%;
  max-inline-size: 500px;
  object-fit: cover;
}

.about-text-container {
  inline-size: 100%;
  text-align: start;
}

.about__title {
  margin-block-end: 12px;
  color: $color-text-light-1;
}

.about__descr {
  color: $color-text-light-2;
}

@media (min-width: 768px) {
  .about {
    margin-block-start: 60px;
  }

  .about-content {
    flex-direction: row;
    padding: 2%;
  }

  .about__img {
    inline-size: 45%;
  }

  .about-text-container {
    inline-size: 45%;
  }
}
