@import 'styles/vars';

.card-ability-container {
  inline-size: 100%;
  block-size: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.card-ability {
  position: relative;
  display: grid;
  place-items: center;
  inline-size: 100%;
  block-size: 100%;
  min-block-size: 90px;
  max-block-size: 110px;
  text-decoration: none;
  background-color: rgba($neutral70, 0.1);
  overflow: hidden;
}

.ability-info-container {
  inline-size: 100%;
  block-size: 100%;
  padding: 12px;
  padding-inline-end: 70px;
}

.ability__name {
  display: inline-block;
  padding-inline: 8px;
  margin-block-end: 8px;
  border-radius: $border-radius-size-2;
  color: $color-text-light-1;
  background-color: $color-accent-2;
}

.ability__desc {
  font-size: 1.5rem;
  color: $color-text-light-2;
}

.card-ability__img-container {
  position: absolute;
  right: -15px;
  display: grid;
  place-items: center;
  inline-size: 80px;
  block-size: 100%;
  object-fit: cover;
}

.card-ability__img {
  inline-size: 100%;
  block-size: 100%;
}

@media (min-width: 768px) {
  .card-ability:hover {
    background-color: rgba($neutral70, 0.2);
  }
}
