@import 'styles/vars';

.projects-hero {
  position: relative;
  inline-size: 100%;
  block-size: auto;
  min-block-size: 300px;
  background-image: $color-linear-gradient-5, url('images/background_hero1.svg');
  overflow: hidden;
}
.projects-hero-content {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  inline-size: 90%;
  max-inline-size: 1366px;
  block-size: 100%;
  margin: 0 auto;
  animation: entranceAnimationTop 0.5s ease-in-out;
}

.projects-hero-info {
  grid-column: 1 / 2;
  inline-size: 100%;
}

.projects-hero-info__title {
  margin-block-end: 8px;
}

.projects-hero-info__descr {
  margin-block-end: 16px;
}

.projects-hero-info__input {
  max-inline-size: 600px;
}

.projects-hero-content__img {
  display: none;
  object-fit: cover;
}

@media (min-width: 768px) {
  .projects-hero-content {
    grid-template-columns: 1fr auto;
  }

  .projects-hero-info {
    grid-column: 1 / 2;
  }

  .projects-hero-content__img {
    position: static;
    display: block;
    grid-column: 2 / 3;
    inline-size: auto;
    block-size: 100%;
  }
}
