@import 'styles/vars';

.label-standard-input {
  display: inline-block;
  margin-block-end: 4px;
  font-size: $font-size-md;
  font-weight: bold;
}

.standard-input {
  padding: 12.5px 0 12.5px 16px;
  border: none;
  border: 1px solid $color-secondary-opacity;
  border-radius: $border-radius-size-1;
  font-size: $font-size-md;
  font-weight: $font-weight-text2;
  color: $color-text-medium-2;
  background-color: $color-dark-2;
}

.standard-input::placeholder {
  font-family: $font-family-text;
  color: $color-text-medium-2;
}

@media (min-width: 768px) {
  .label-standard-input {
    font-size: $font-size-lg;
  }

  .standard-input {
    font-size: $font-size-lg;
  }
}
